@charset "utf-8";

/* Reset CSS */
body {
    margin: 0;
    padding: 0;
}

/* Header Styles */
.header {
    width: 100%;
    height: 120px;
    background: red;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Spacing Utility Class */
.jarak {
    padding: 0 20px; /* Menggunakan px untuk padding */
}

/* Remove List Bullets */
ul {
    list-style: none;
}

/* Remove Underline from Links */
a {
    text-decoration: none;
}

/* Flex Row Container */
.row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Navigation Styles */
nav{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    height:60px;
    background-color:#FFFFFF;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    padding:0px 5%;
}

nav ul{
    text-align: center;
    justify-content: center;
    display: flex;
}  

nav ul li a{
    margin:30px;
    text-align: center;
    justify-content: center;
    font-family:myriad pro regular;
    color:#505050;
    font-size: 15px;
    font-weight:700;
}

nav ul li a:hover{
    color: red;
}

/* Logo Styles */
.logo {
    font-family: 'RoadTest';
    color: #000000;
    font-size: 22px;
    font-weight: bold;
}

/* Active Link Styles */
.active {
    color: #2d2a2a;
    font-weight: bold;
}

/* Sidebar Styles */
.content{
    min-height: calc(100vh - 150px);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* Gaya sidebar */
.sidebar {
    background-color: rgb(255, 255, 255);
    margin-top: 15px;
    margin-left: 20px;
    padding: 1rem;
    height: 500px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
/* Gaya konten utama */
.main-content {
    background-color: #f4f4f4;
    padding: 2rem;
    margin: 1rem;
    flex: 3;
}
/* Footer Styles */
.footer {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: red;
}

.footer p {
    font-family: 'calibri';
}

.footer p:nth-child(1) {
    font-weight: bold;
    color: #FFFFFF;
    line-height: 10px;
}